<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/static/styles.css">

  <title>{% block title %}Cooperate Marketing Demo App{% endblock %}</title>
</head>

<body>
  <div id="top_bar_wrapper">
    <div id="top_bar" class="{% block top_bar_class %}{% endblock %}">
      {% block top_bar %}{% endblock %}
      <ul>
      {% if user.is_authenticated %}
        <li><a class="button" href="/logout/">Logout</a></li>
      {% else %}
        <li><a class="button" href="/login/">Login</a></li>
        <li><a class="button" href="/signup/">Sign Up</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
    <div id="content_wrapper">
      <div id="content">
          {% block content %}{% endblock %}
      </div>
    </div>
</body>
</html>
